
#root {
  display: flex;
  flex-direction: column ;
  max-width: 1280px;
  margin: 0 auto;
  padding: 1vw;
  text-align: center;
  border-radius: 1vw;
}

.head{
  position:static;
  
}

.card {
  padding: 2em;
}

.imageInput{
  background-color: black;
  padding: 5px;
  border-radius: 15px;
  color: white;
}
.diagBox{
  background-color: #ccf;
  border-radius: 1vw;
  /* align-self: center; */
  align-self: stretch;
  height: 100vw;
  padding: 1vw;
}
.rowBox{
  height: 40vw;
  display: flex;
  flex-direction: row;
}
.subBox{
  margin: 2vw;
  display: flex;
  flex-direction: column;
  width: 40vw;
  background-color: aliceblue;
  padding: 2vw;
  border-radius: 1vw;
}

button{
  
  filter: drop-shadow(3px 3px 5px #979797);
  border: none;
  color:black;
  background: linear-gradient(0deg,rgb(217, 254, 255) 37%, rgb(232, 255, 206) 100%);
  transition: ease-in-out 0.3s;
}

button:hover{
  
  filter: drop-shadow(1px 1px 3px #979797);
  border: none;
  background: linear-gradient(0deg,rgb(217, 254, 255) 37%, rgb(232, 255, 206) 100%);
  transform: scale(1.2);
}

input{
  background-color: #333;
  padding: 3px;
  border-radius: 20px;
}


.read-the-docs {
  color: #888;
}
